{% extends "layouts/base.html" %}
{% block content %}

<article class="column is-two-thirds">
  <h1>About</h1>

  {% markdown %}
  I'm a developer, passionate about PHP and like pushing Impossible to possible.

  I studied Electrical and Electronics Engineering at
  [Federal University of Agriculture, Abeokuta][6]

  I'm also on [GitHub][1], [Twitter][2] and [Facebook][3].

  [1]: http://github.com/bosunski
  [2]: http://twitter.com/bosunski
  [3]: https://facebook.com/bosunski

  {% endmarkdown %}
  {% endblock %}
</article>
