{% extends "layouts/base.html" %}
{% block content %}

<article class="column is-two-thirds">
  <h1>About</h1>

  {% markdown %}
  I'm a developer, passionate about PHP and like pushing Impossible to possible.

  I studied Electrical and Electronics Engineering at
  [Federal University of Agriculture, Abeokuta][6]

  I'm also on [GitHub][11], [Twitter][12] and [Facebook][1].

  [5]: http://rupy.eu
  [6]: http://unaab.edu.ng
  [7]: http://en.wikipedia.org/wiki/University_of_Paris-Sud
  [8]: http://en.wikipedia.org/wiki/HEC_Paris
  [9]: http://en.wikipedia.org/wiki/T%C3%A9l%C3%A9com_ParisTech
  [11]: http://github.com/bosunski
  [12]: http://twitter.com/bosunski
  [1]: https://facebook.com/bosunski
  [14]: http://polyconf.com
  [17]: http://en.wikipedia.org/wiki/Online_banking
  {% endmarkdown %}
  {% endblock %}
</article>
